* {
  background-color: #151718;
  color: #E6E6E6;
  margin: 0 auto;
  font-family: "Jetbrains Mono", monospace;
  padding: 0.5em;
}

.Card {
  display: block-inline;
  border: 1px solid #E6E6E6;
  max-width: 700px;
  text-indent: 2em;
  margin-top: 3em;
}